[Unit]
Description=My app

[Service]
ExecStart=/home/nzhou/nodejs_projects/cryoDisplay/index.js
Restart=always
User=nobody
# Note Debian/Ubuntu uses 'nogroup', RHEL/Fedora uses 'nobody'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/nzhou/nodejs_projects/cryoDisplay

[Install]
WantedBy=multi-user.target
