html
    head
        title= project.name
    body
        h1= project.name
        a(href="/project/"+project.id+"/sample_screen")
            button SAMPLE SCREENING
        a(href="/project/"+project.id+"/data_process")
            button DATA PROCESSING