doctype html
html
    head 
        h2="Welcome to cryoDisplay!"
    body   
        a(href = url_project) click here to check all projects
        h3="Or"
        a(href = url_data_para) click here to fill out data collection parameters
        